<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Node.js App</title>
  </head>
  <body>
    <h1><%= data.name %></h1>
    <p><h3>Напрямок, за яким планую розвиватись: </h3><%= data.specialization %></p>
    <p><h3>Персональна сертифікація, яку планую складати</h3><a href="<%= data.certification.link %>"><%= data.certification.title %></a></p>
    <p><h3>Аргументація, чому саме ця сертифікація:</h3><%= data.explanation %></p>
    <h3>Маніпуляції з <a href="https://github.com/tc39/proposal-record-tuple">tuple та record з tc39</a></h3>
    <p>Is record: <%= data.isRecord %></p>
    <p>Tuple from array: <%= data.tupleFromArray %></p>
  </body>
</html>
